<table class="measurement-table" width="500">
    <tr>
        <td>
            <table>
                <tr>
                    <th>Size</th>
                    <td class="bordered-cell">123</td>
                    <td class="bordered-cell">43</td>
                    <th>Shoulder</th>
                    <td class="bordered-cell">43</td>
                    <td class="bordered-cell">43</td>
                    <th>Seat</th>
                    <td class="bordered-cell">43</td>
                    <td class="bordered-cell">43</td>
                    <th>Tight</th>
                    <td class="bordered-cell">43</td>
                    <td class="bordered-cell">43</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table>
                <tr>
                    <th>Body</th>
                    <td class="bordered-cell">43</td>
                    <td class="bordered-cell">43</td>
                    <th>Sleeve length</th>
                    <td class="bordered-cell">43</td>
                    <td class="bordered-cell">43</td>
                    <th>MS</th>
                    <td class="bordered-cell">43</td>
                    <td class="bordered-cell">43</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table>
                <tr>
                    <th>Shape</th>
                    <td class="bordered-cell">43</td>
                    <td class="bordered-cell">43</td>
                    <th>Regal tight</th>
                    <td class="bordered-cell">43</td>
                    <td class="bordered-cell">43</td>
                    <th>Width</th>
                    <td class="bordered-cell">43</td>
                    <td class="bordered-cell">43</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table>
                <tr>
                    <th>Cloth</th>
                    <td class="bordered-cell">43</td>
                    <td class="bordered-cell">43</td>
                    <td></td>
                    <td class="bordered-cell">43</td>
                    <td class="bordered-cell">43</td>
                    <td></td>
                    <td class="bordered-cell">43</td>
                    <td class="bordered-cell">43</td>

                    <td class="bordered-cell">23546545</td>
                </tr>
            </table>
        </td>
    </tr>
</table>
